.equalizerPage {
  height: 100%;
  position: relative;
  background-color: #fcfaf9;
  background-image: url("../assets/bg-main-desktop.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1200px 1fr;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.bgPatternOne {
  position: absolute;
  right: 0;
}
:is(.equalizerPage > header, .equalizerPage > main, .equalizerPage > footer, ) {
  grid-column: 2/3;
}
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 700px) and (max-width: 1024px) {
  .equalizerPage {
    background-image: url("../assets/bg-main-tablet.png");
    grid-template-columns: 2rem 1fr 2rem;
  }
  .bgPatternOne {
    width: 200px;
  }
}
