.footerContainer {
  display: flex;
  justify-content: space-between;
}
.iconContainer {
  display: flex;
  align-self: flex-start;
  gap: 1rem;
}

.aboutWebsite > address > a {
  text-decoration: none;
  color: unset;
  font-weight: 800;
}
.footerTitle {
  font-size: 2rem;
  line-height: 1;
  font-weight: 600;
}

:is(.fbIcon:hover, .insIcon:hover, .twitterIcon:hover) {
  background-color: #fa7453;
  cursor: pointer;
}
@media screen and (min-width: 700px) and (max-width: 1023px) {
  .footerContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
    row-gap: 2rem;
  }
  .footerTitle {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .aboutWebsite {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .iconContainer {
    justify-self: end;
  }
}
