.footerContainer {
  display: flex;
  justify-content: space-between;
}
.iconContainer {
  display: flex;
  align-self: flex-start;
  gap: 1rem;
}

.aboutWebsite > address > a {
  text-decoration: none;
  color: unset;
  font-weight: 800;
}
.footerTitle {
  font-size: 2rem;
  line-height: 1;
  font-weight: 600;
}

:is(.fbIcon:hover, .insIcon:hover, .twitterIcon:hover) {
  background-color: #fa7453;
  cursor: pointer;
}
