.mainSectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pageDescriptions {
  max-width: 700px;
}

.pageDescriptions > h2 {
  font-size: 4rem;
  line-height: 1;
  margin-top: 8rem;
  margin-bottom: 2rem;
}
.pageDescriptions > p {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 6.75rem;
}

.demoAndPriceContainer {
  background-color: #191826;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
  max-width: 1200px;
  border-radius: 1rem;
  margin-top: 10rem;
  margin-bottom: 5rem;
}
.demoAndPriceContainer > img {
  width: 312px;
  position: absolute;
  bottom: 6rem;
  left: 6rem;
}
.priceCard {
  width: 450px;
  height: 625px;
  position: absolute;
  right: 6rem;
  top: 4rem;
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  .pageDescriptions > h2 {
    margin-top: 4rem;
    font-size: 5rem;
  }
  .pageDescriptions > p {
    margin-bottom: 3.75rem;
  }
  .demoAndPriceContainer {
    max-width: 700px;
    margin-bottom: 10rem;
  }
  .demoAndPriceContainer > img {
    width: 250px;
    left: 3.5rem;
    bottom: 13rem;
  }
  .priceCard {
    width: 400px;
    right: 3.5rem;
    top: 10rem;
  }
}
