.priceCardContainer {
  background-color: #fa7453;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3.375rem;
  border-radius: 12px;
}
.priceCardTitle {
  font-size: 2.5rem;
}
.priceCardDescriptions {
  font-size: 1.25rem;
}
.subscriptionCost {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.productPrice {
  font-size: 4rem;
  font-weight: 600;
}
.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
:is(.priceCardTitle, .priceCardDescriptions, .subscriptionCost) {
  color: #fcfaf9;
}
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 700px) and (max-width: 1024px) {
  .priceCardContainer {
    padding: 2rem;
  }
  .priceCardTitle {
    font-size: 2rem;
  }
  .priceCardDescriptions {
    font-size: 1.25rem;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .priceCardContainer {
    padding: 2rem;
  }
}
